frontend/node_modules
frontend/jspm_packages
frontend/bower_components
.idea
.DS_STORE
frontend/dist
frontend/build/reports
frontend/coverage
frontend/test/e2e/dist
frontend/typings
frontend/export
node_modules/