logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/RUNNING_PID
*.ipr
*.iws

frontend/node_modules


frontend/bower_components
.idea
.DS_STORE
frontend/dist
frontend/build/reports
frontend/coverage
frontend/test/e2e/dist
frontend/typings
frontend/export
node_modules
public/
