<template>


    <require from="../common/forms/bread-crumb"></require>
    <require from="../common/converters/date-format"></require>
    <require from="../common/focus-me"></require>
    <require from="../common/select-all"></require>
    <require from="../common/buttons/dot-button"></require>
    <require from="../common/date-picker"></require>

    <bread-crumb title="@Messages('medication.edit.title')"></bread-crumb>

    <div class="row">
        <div class="col-md-12">
            <p>
                ${medication.article}<br>
                Start: ${medication.dateWritten | dateFormat} <br show.bind="medication.dateEnded">
                <span show.bind="medication.dateEnded">Ende: ${medication.dateEnded | dateFormat}</span>
            </p>
        </div>
    </div>

    <form class="form" action="" submit.delegate="">

        <div class="row">

            <div class="col-md-6">

                <div class="row">

                    <div show.bind="!medication.showFreetext">
                        <div class="col-md-2">

                            <div class="form-group ${isNumeric(medication.posology.morning) ? '' : 'with-error'}">
                                <label class="control-label">@Messages('medication.edit.dosage')</label>
                                <input type="text" placeholder="@Messages('medication.edit.dosage.morning')" class="form-control"  focus-me.bind="!medication.showFreetext" select-all
                                value.bind="medication.posology.morning"/>
                            </div>

                        </div>

                        <div class="col-md-2">

                            <div class="form-group ${isNumeric(medication.posology.midday) ? '' : 'with-error'}">
                                <label class="control-label">&nbsp;</label>
                                <input type="text"  placeholder="@Messages('medication.edit.dosage.midday')" class="form-control" select-all
                                       value.bind="medication.posology.midday"/>
                            </div>

                        </div>
                        <div class="col-md-2">

                            <div class="form-group ${isNumeric(medication.posology.evening) ? '' : 'with-error'}">
                                <label class="control-label">&nbsp;</label>
                                <input type="text" placeholder="@Messages('medication.edit.dosage.evening')" class="form-control" select-all
                                       value.bind="medication.posology.evening"/>
                            </div>

                        </div>
                        <div class="col-md-2">

                            <div class="form-group ${isNumeric(medication.posology.night) ? '' : 'with-error'}">
                                <label class="control-label">&nbsp;</label>
                                <input type="text" placeholder="@Messages('medication.edit.dosage.night')" class="form-control" select-all
                                       value.bind="medication.posology.night" />

                            </div>

                        </div>

                    </div>
                    <div show.bind="medication.showFreetext">
                        <div class="col-lg-8 col-md-12">

                            <div class="form-group">
                                <label class="control-label">@Messages('medication.edit.dosage')</label>

                                <input type="text" value="" placeholder="@Messages('medication.edit.dosage')" class="form-control" focus-me.bind="showFreetext" value.bind="medication.instructions" />
                            </div>

                        </div>
                    </div>

                    <div class=" col-md-2">
                        <br>
                        <br>

                        <button class="btn btn-info btn-sm" click.delegate="medication.showFreetext=!medication.showFreetext" tabindex="-1">
                            @Messages('medication.edit.freetext')
                            &nbsp;<i class="material-icons" show.bind="medication.showFreetext">mode_edit</i>
                        </button>


                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="form-group">
                            <label class="control-label">@Messages('medication.edit.instruction')</label>
                            <input type="text" value="" placeholder="@Messages('medication.edit.instruction')" class="form-control"  value.bind="medication.notes"/>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="form-group">
                            <label class="control-label">@Messages('medication.edit.additionalInstruction')</label>
                            <input type="text" value="" placeholder="@Messages('medication.edit.additionalInstruction')" class="form-control"  value.bind="medication.additionalInstructions"/>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <br>
                <br>
                <div class="row">


                    <div class="col-md-12">
                        <div class="togglebutton strong">
                            <label>
                                    <input type="checkbox" checked.one-way="!medication.isReserve" change.delegate="onTypeChanged()" tabindex="-1">
                                ${medication.isReserve ? '@Messages('medication.edit.reserve')' : '@Messages('medication.edit.fix')'}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <button class="btn btn-warning btn-block" click.delegate="onStop()" tabindex="-1">@Messages('medication.edit.stop') &nbsp;

                                <i class="material-icons" show.bind="!medication.hasBeenStopped">pan_tool</i>
                                <i class="material-icons" show.bind="medication.hasBeenStopped">done</i>


                        </button>

                        <div id="stop-inputs" class="collapse with-padding-5">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label class="control-label">@Messages('medication.edit.stop.date')</label>
                                        <input  class="datepicker form-control" type="text" date-picker="
                                            format: dd.mm.yyyy;
                                            model.two-way:medication.endDate"
                                             />
                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">@Messages('medication.edit.stop.reason')</label>
                                        <input type="text" value="" placeholder="" class="form-control"  value.bind="medication.reasonEnded"/>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">@Messages('medication.edit.stop.incompatibility')</label>
                                        <input type="text" value="" placeholder="" class="form-control"  value.bind="medication.incompatibility"/>
                                    </div>
                                </div>


                            </div>

                        </div>
                        <button class="btn btn-danger btn-block">@Messages('medication.edit.delete') &nbsp;<i class="material-icons">close</i></button>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" dot-button.bind="saving" click.delegate="save()" disabled.bind="validate">@Messages('medication.edit.save') </button>
                <p class="text-success fade-in ${success ? 'is-visible' : ''}" >@Messages('medication.edit.save.success')</p>
                <p class="text-error fade-in ${e.error ? 'is-visible' : ''}" >${e.error}</p>

            </div>
        </div>
    </form>


</template>