<template>
    <require from="../common/forms/bread-crumb"></require>

    <require from="../common/converters/date-format"></require>
    <require from="../common/converters/filter"></require>
    <require from="../common/converters/show"></require>
    <require from="../common/converters/sort"></require>
    <require from="../common/converters/paginate"></require>
    <require from="../common/focus-me"></require>

    <require from="../common/forms/chevron.html"></require>
    <require from="../../styles/loader.css"></require>
    <require from="../common/pagination/pagination"></require>

    <bread-crumb title="@Messages('medication.title')"></bread-crumb>

    <div class="row">
        <div class="col-md-2">
            <div class="input-group search-form fade-in ${history ? 'is-visible' : ''}">
                <span class="input-group-addon">
                    <i class="material-icons">search</i>
                </span>
                <input type="text" class="form-control" placeholder="Suche" value.bind="search" focus-me.bind="history">
            </div>

        </div>

        <div class=" col-md-offset-4 col-md-6">

            <button class="btn btn-info pull-right btn-sm btn-history" click.delegate="loadHistory()">
                @Messages('medication.history')
                &nbsp;<i class="material-icons" show.bind="history">done</i>
            </button>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">


            <div class="loader ${loading ? 'is-loading' : ''}">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>

            <div class="table-responsive ">

                <table class="table table-hover">
                    <thead>
                    <tr>

                        <th  class="text-center clickable" click.delegate="sort('isReserve')">@Messages('medication.table.type')<chevron key.bind="sortKey" model="isReserve" asc.bind="asc" ></chevron></th>
                        <th class="clickable" click.delegate="sort('article')">@Messages('medication.table.article') <chevron key.bind="sortKey" model="article" asc.bind="asc" ></chevron></th>
                        <th class="clickable" click.delegate="sort('dosage')">@Messages('medication.table.dosage') <chevron key.bind="sortKey" model="dosage" asc.bind="asc" ></chevron></th>
                        <th class="clickable" click.delegate="sort('notes')">@Messages('medication.table.instruction') <chevron key.bind="sortKey" model="notes" asc.bind="asc" ></chevron></th>
                        <th class="clickable" click.delegate="sort('dateWritten')">@Messages('medication.table.start') <chevron key.bind="sortKey" model="dateWritten" asc.bind="asc" ></chevron></th>
                        <th class="clickable" click.delegate="sort('dateEnded')">@Messages('medication.table.end') <chevron key.bind="sortKey" model="dateEnded" asc.bind="asc" ></chevron></th>
                        <th class="clickable" click.delegate="sort('reasonEnded')">@Messages('medication.table.reason') <chevron key.bind="sortKey" model="reasonEnded" asc.bind="asc" ></chevron></th>
                        <th class="text-right">@Messages('medication.table.actions')</th>

                    </tr>
                    </thead>
                    <tbody >

                    <tr  repeat.for="m of medications | filter:search | sort:sortKey:asc | paginate:currentPage:10" class="fade-in ${loading ? '' : 'is-visible'} ${m.isHistory ? 'is-history' : ''}">
                            <td class="text-center ${m.isReserve ? 'text-info' : 'text-primary'} ${m.isHistory ? 'text-danger': ''}">${m.isReserve ? 'R' : 'F'}</td>
                            <td >${m.article}</td>
                            <td>${m.dosage}</td>
                            <td>${m.notes}</td>
                            <td class="text-right">${m.dateWritten | dateFormat}</td>
                            <td class="text-right">${m.dateEnded | dateFormat}</td>
                            <td>${m.reasonEnded}</td>

                            <td class="td-actions text-right">
                                <!--<button title="" data-original-title="" type="button" rel="tooltip" class="btn btn-info">-->
                                    <!--<i class="material-icons">person</i>-->
                                <!--</button>-->
                                <button title="" data-original-title="" type="button" rel="tooltip" class="btn btn-success" click.trigger="edit(m)" disabled.bind="m.isHistory">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button title="" data-original-title="" type="button" rel="tooltip" class="btn btn-danger"  click.trigger="open(m)">
                                    <i class="material-icons">close</i>
                                </button>
                            </td>
                        </tr>

                    </tbody>

                </table>

                <div class="fade-in ${'medications | show:search:10' ? 'is-visible' : ''}">
                    <pagination show.bind="medications | show:search:10" current-page.two-way="currentPage" items-per-page="10" boundaries="true" total-items.bind="medications | filter:search" ></pagination>
                </div>


            </div>
        </div>
    </div>

<!--Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">@Messages('medication.modal.title')</h4>
                </div>
                <div class="modal-body">
                    @Messages('medication.modal.text')
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages('medication.modal.cancel')</button>
                    <button type="button" class="btn btn-warning" click.trigger="delete()">@Messages('medication.modal.delete')</button>
                </div>
            </div>
        </div>
    </div>

</template>