<template>
    <require from="../common/forms/bread-crumb"></require>

    <bread-crumb title="Ebox-Elexis"></bread-crumb>

    <div class="row">
        <div class="col-md-12">

                <ul class="nav nav-pills " role="tablist">
                    <li class="active nav-pills-success">
                        <a  click.delegate="navigate('medication')" role="tab" data-toggle="tab">
                            <i class="material-icons">dashboard</i>
                            @Messages('navbar.medication')
                        </a>
                    </li>
                    <li class="active nav-pills-danger">
                        <a click.delegate="navigate('agenda')" role="tab" data-toggle="tab">
                            <i class="material-icons">schedule</i>
                            @Messages('navbar.agenda')
                        </a>
                    </li>
                    <li class="active nav-pills-warning ">
                        <a click.delegate="navigate('authentication')"  role="tab" data-toggle="tab">
                            <i class="material-icons">settings</i>
                            @Messages('navbar.settings')
                        </a>
                    </li>
                </ul>

        </div>

    </div>
    <div class="row">

    <br>
    </div>
</template>