<template bindable="router">
  <require from="github:custom/mmenu/dist/css/hamburger.css"></require>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="hamburger hamburger--squeeze" type="button" click.delegate="toggle()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </a>

      </div>

    </div>
  </nav>
</template>
