<template bindable="router">

    <require from="github:custom/mmenu/dist/css/jquery.mmenu.custom.css"></require>
    <require from="styles/typeahead.css"></require>
    <require from="../common/typeahead/typeahead"></require>
    <require from="../common/focus-me"></require>

    <div id ="my-wrapper">
        <nav id="phm-mmenu">

            <ul>
                <li class="Divider no-hover selection" show.bind="patientService.selectedPatient===undefined">@Messages('navbar.noPatient')</li>
                <li class="Divider no-hover selection" show.bind="patientService.selectedPatient">${patientService.selectedPatient.name.fullName}</li>

                <div class="typeahead no-hover">
                    <span>
                        <div class="form-group">
                            <input class="form-control typeahead-jquery" type="text" placeholder="@Messages('navbar.search.placeholder')" focus-me="true" typeahead="
                                source.bind: request;
                                scope.bind:scope;
                                on-selected.bind:onSelected;
                                min-length.bind:2;
                                display.bind:display;
                                on-empty.bind:'@Messages('navbar.search.noMatch')'
                                " />
                        </div>
                    </span>
                </div>
                <li></li>

                <li><a click.delegate="navigate('home')"><span><i class="fa fa-home"></i> &nbsp;@Messages('navbar.home')</span></a></li>
                <li><a click.delegate="navigate('medication')" accesskey="m"><span><i class="fa fa-th-large"></i> &nbsp;@Messages('navbar.medication')</span></a></li>
                <li><a click.delegate="navigate('agenda')"><span><i class="fa fa-clock-o"></i> &nbsp;@Messages('navbar.agenda')</span></a></li>

                <li>
                    <span><i class="fa fa-cog"></i> &nbsp;@Messages('navbar.settings')</span>
                    <ul>
                        <li>
                            <span><i class="fa fa-lock"></i> &nbsp;@Messages('navbar.settings.authentication')</span>
                            <div>
                                <ul>
                                    <li><a href="javascript:void(0);">@Messages('navbar.settings.authentication.secondFactor')</a></li>
                                    <li><a href="javascript:void(0);">@Messages('navbar.settings.authentication.credentials')</a></li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <span><i class="fa fa-paint-brush"></i> &nbsp;@Messages('navbar.settings.style')</span>
                            <div>
                                <ul>
                                    <li><a href="#">ABC</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

                <!--<li><a click.delegate="navigate('components')">Components</a></li>-->
            </ul>

        </nav>

    </div>



</template>