body {
  margin: 0;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
    color:#ab47bc;
}

.signup-page .wrapper .card-signup {
    margin: 160px 0 40px;
}

/*Buttons*/
.dot-button{
  transition: 0.1s linear all !important;
}


.spinner {
  margin: 0 auto;
  background-color: #ffffff;
  margin-left: 20px;

  position: absolute;
  z-index: 2;
  display: inline-block;

  opacity:0;

  border-radius: 100%;

}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
}

.dot-button-loading{

  padding-right: 60px !important;

}

.dot-button-loading > .spinner{

  opacity: 0.6 !important;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;

}

.fade-in{
  transition: opacity 0.4s ease-in-out;
  opacity:0.0;

}
.fade-in.is-visible{
  opacity: 1.0;
}

/*.has-error .form-control:focus{*/
  /*border-color: #a94442 !important;*/
/*}*/
.form-group.is-focused>.has-error>.form-control {
  background-image: linear-gradient(#a94442, #a94442), linear-gradient(#D2D2D2, #D2D2D2);
}
.has-error>.form-control {
  color: #a94442 !important;
}
.text-error{
  color: #a94442 !important;
}

.fade-in-hidden{
  transition:
          opacity 0.4s ease-in-out 0.0s,
          display 0.1s ease-in-out 0.4s;

  display:none;
  opacity:0.0;

}
.fade-in-visible{
  transition:
          opacity 0.4s ease-in-out 0.1s,
          display 0.1s ease-in-out 0.0s;

  display: block;
  opacity:1.0;
}
