<!DOCTYPE html>
<html>
    <head>
        <title>Aurelia</title>
            <!--The FontAwesome version is locked at 4.6.3 in the package.json file to keep this from breaking.-->
        <link rel="stylesheet" href="@routes.Resources.get("jspm_packages/npm/font-awesome@4.6.3/css/font-awesome.min.css")">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />

        <link rel="stylesheet" href="@routes.Resources.get("styles/styles.css")">
        @*<link rel="stylesheet" href="@routes.Resources.get("jspm_packages/github/twbs/bootstrap@3.3.6/css/bootstrap.min.css")">*@
        @*<link rel="stylesheet" href="@routes.Resources.get("creative_tim/css/material-kit.css")">*@

        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body aurelia-app="main">

        <div class="splash">
            @*<div class="message">Aurelia Navigation Skeleton</div>*@
            <i class="fa fa-spinner fa-spin"></i>

        </div>
            <!-- The bluebird version is locked at 4.6.3 in the package.json file to keep this from breaking -->
            <!-- We include bluebird to bypass Edge's very slow Native Promise implementation. The Edge team -->
            <!-- has fixed the issues with their implementation with these fixes being distributed with the  -->
            <!-- Windows 10 Anniversary Update on 2 August 2016. Once that update has pushed out, you may    -->
            <!-- consider removing bluebird from your project and simply using native promises if you do     -->
            <!-- not need to support Internet Explorer.                                                      -->
        @*<script src="@routes.Resources.get("jspm_packages/npm/bluebird@3.4.1/js/browser/bluebird.min.js")"></script>*@

        <script src="@routes.Resources.get("jspm_packages/system.js")"></script>
        <script src="@routes.Resources.get("config.js")"></script>
        <script>
      System.import('aurelia-bootstrapper');
    </script>
        @*<script src="@routes.Resources.get("jspm_packages/npm/jquery@2.2.4/dist/jquery.min.js")"></script>*@
        @*<script src="@routes.Resources.get("jspm_packages/github/twbs/bootstrap@3.3.6/js/bootstrap.min.js")"></script>*@
        @*<script src="@routes.Resources.get("creative_tim/js/material.min.js")"></script>*@
        @*<script src="@routes.Resources.get("creative_tim/js/material-kit.js")"></script>*@

    </body>
</html>
